@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';



.calculate-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.02px;
  margin-bottom: 1rem;
}

.basic-salary-label {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.1px;
  margin-bottom: 1rem;
 


}

.basic-salary-input {
  width: 356px;
  font-size: 12px;
  gap: 8px;
}



.earnings-label {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.earnings-description {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
}

.EarningsInput {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;

}

.deduction-label {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.deduction-description {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
}
.EarningsInput {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;

}
.DeductionsInput {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;

}